.feed-container {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin: 0 auto;
	background-color: black;
	/* SIN HEIGHT NO FUNCIONA EL SNAP*/
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
}
