.video-container {
	position: relative;
	border-radius: 25px;
	scroll-snap-align: center;
	height: 100%;
	width: 100%;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 9/16;
}

.playerbtn {
	position: absolute;
	inset: 0;
	margin: auto;
	background-image: url('/assets/playbtn.png');
	background-position: center center;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	width: 70px;
	height: 70px;
	border: none;
	cursor: pointer;
}

.playerbtn.hide {
	opacity: 0;
}

/*  SIDEBAR  */
.video-actions {
	position: absolute;
	bottom: 170px;
	right: 10px;
}
.video-action {
	background-color: transparent;
	border: none;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;
}

.video-description {
	position: absolute;
	bottom: 0;
	z-index: 2;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	padding-left: 5px;

	& strong {
		display: inline-block;
		margin-bottom: 5px;
	}
}

.song-ticker-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.song-ticker {
	display: flex;
	gap: 15px;
	align-items: center;
	& img {
		height: 17px;
	}
}

.album-disk {
	background-image: url('/assets/albumcover.svg');
	width: 55px;
	aspect-ratio: 1;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	& img {
		height: 30px;
		animation: rotate 4s linear infinite;
		border-radius: 50%;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
